body {
  font-family: Arial;
  margin: 0px;
  color: #404040;
}

h1,
h2,
h3,
p,
h4 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

article {
  padding: 40px 0px;
}

.logo {
  margin: 0px 20px;
  padding: 0px 10px;
  justify-self: center;
  font-weight: bolder;
  font-size: 24px;
}
