nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  max-width: 1000px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

nav a {
  font-size: 20px;
  color: #404040;
  line-height: 1.3;

  padding: 10px 20px;
  display: block;
}

nav a:hover {
  color: #276773;
  transition: 0, 3s;
}

@media (max-width: 800px) {
  nav {
    flex-direction: column;
    gap: 20px;
    padding: 15px 0px;
  }
  nav a {
    background-color: #f7fef9;
    border-radius: 4px;
  }
}
