body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0rem 8.65rem;
}

nav ul {
  display: flex;
  gap: 2.6rem;
  list-style: none;
  font-size: 1rem;
}

nav a {
  text-decoration: none;
  color: #404040;
}

nav a:hover {
  color: #41878b;
  transition: 0.3s;
}

main {
  height: auto;
  background-color: #dbf6ed;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0rem 8.65rem;
}

.conteudo-imc {
  padding: 50px 0px;
  max-width: 500px;
}

.conteudo-imc p {
  font-size: 20px;
}

.conteudo-imc a {
  text-decoration: none;
  color: #7296fd;
}

.conteudo-imc a:hover {
  color: #41878b;
  transition: 0.3s;
}

.calculadora-box {
  grid-column: 1;
}

.calculadora-imc {
  height: 400px;
  max-width: 500px;

  background-color: #96cec6;
  border-radius: 20px;
}
