body {
  margin: 0;
  padding: 0 140px;
  font-family: Arial;
}

/* --------------------------- */
nav {
  display: flex;
  justify-content: space-between;
  flex: 1;
  height: 100px;
}

#logo {
  margin: 0;
  padding: 30px;
  color: #404040;
}

nav ul {
  margin: 0;
  padding: 30px 0;
  width: 420px;
  text-align: end;
}

nav li {
  display: inline-block;
  margin: 0px 10px;
}

nav a {
  text-decoration: none;
  color: #404040;
}

a:hover {
  color: #96cec6;
  transition-duration: 0.2s;
}
/* --------------------------- */

section div {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
  /* height: 1103px; */
  background-color: aliceblue;
}

.product-card h1,
p {
  grid-column: 1 / 5;
}

.product-card h1 {
  font-size: 40px;
  color: #404040;
}

.product-card p {
  font-size: 24px;
  font-weight: 300;
  color: #404040;
}

#information {
  font-size: 24px;
  font-weight: bold;
}

#information a {
  color: #7296fd;
  text-decoration: none;
}
